.home{
  background-image: url('https://cdn.dribbble.com/users/45010/screenshots/1992789/search_3.gif');
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  font-family: 'Abril Fatface', cursive;
  height: 100%;
}

.home p, .home h3{
  text-align: center;
  font-size: 2em;
  color: white;
}

.home p {
font-size: 3em;
}

#arrow {
margin-left: 40%;
}
