.info {

  text-align: center;
  background-color: rgba(0,0,0,0.5);
  color: white;
}
#more {
background-image: url('https://images.pexels.com/photos/327186/pexels-photo-327186.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
background-repeat: no-repeat;
background-size: cover;
font-size: xx-large;
font-family: 'Barlow', cursive;
}
.heading {
 text-decoration: underline;

}
