<link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet">
<br><br><div class="container-fluid" id="more">
  <div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8">
      <div class="info">
        <span class="heading"><h1>GitSearch App</h1></span>
        <p>Search for Users from all over Github, view their repositories and see all the amazing things that people have to share on Github</p>
        <span class="heading"><h2>How to Use the App</h2></span>

          <p>1. Enter the username in the search box on the search page</p>
          <p>2. The app will display the user info for the particular user</p>
          <p>3. You can view repositories, github profile, and user details from there.
          </p>
          <p>How cool is that!!</p>

      </div>

    </div>
    <div class="col-sm-2">

    </div>
  </div>
</div>
